<ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index;">
        <li *ngIf="!item.items" class="menu-item">
            <a>
                <i class="{{ item.icon }} icon-separator"></i>
                <span>{{ item.label }}</span>
            </a>
            <a [href]="item.url" *ngIf="item.url" target="{{ item.target }}">
                <i class="{{ item.icon }} icon-separator"></i>
                <span>{{ item.label }}</span>
            </a>
        </li>
        <li *ngIf="item.items" class="menu-item">
            <a>
                <i class="{{ item.icon }} icon-separator"></i>
                <span>{{ item.label }}</span>
            </a>
            <ul>
                <ng-container *ngFor="let submenu of item.items; let j = index;">
                    <li class="submenu-item">
                        <a>
                            <i class="{{ submenu.icon }} icon-separator"></i>
                            <span>{{ submenu.label }}</span>
                        </a>
                        <a [href]="submenu.url" *ngIf="submenu.url" target="{{ submenu.target }}">
                            <i class="{{ submenu.icon }} icon-separator"></i>
                            <span>{{ submenu.label }}</span>
                        </a>
                    </li>
                </ng-container>
            </ul>
        </li>
    </ng-container>
</ul>